body {
  background-color: #fbffcb;
  width: 100%;
  position: relative;
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* 背景 */

.himawari-right img, .himawari-left img {
  width: 150px;
  height: 300px;
}

.himawari-left {
  position: absolute;
  left: 0;
  top: 35%;
  opacity: 0.2;
}

.himawari-right {
  position: absolute;
  right: 0;
  top: 75%;
  opacity: 0.2;
}


/* top navigation */

.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8ffa2;
}

.menu-item {
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  box-sizing: border-box;
}

.menu-item a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: lighter;
}

.menu-item a:hover {
  color: gray;
}

.nav {
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s linear;
}


.nav.is-active {
  pointer-events: auto;
  opacity: 1;
}

.nav.close {
  opacity: 0;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: fixed;
}

.menu-trigger {
  width: 25px;
  height: 22px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  top: 22px;
  right: 30px;
  z-index: 1;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
  z-index: 1;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
  z-index: 1;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
  z-index: 1;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  font-size: 20px;
}

/* slide show */

.slide {
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;
}

.slide img {
  /* width: 300px; */
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 1s ease-in-out;
  object-fit: contain;
}

.slide-speed p {
  display: none;
}


/* 各セクションのスタイル */

.artmake-container,.hairmake-container, .about-container, .contact-container {
  width: 300px;
  margin: 40px auto 0 auto;
}

.title {
  margin-left: 10px;
  display: flex;
}

.title p {
  font-size: 18px;
}

.title-border {
  margin-top: 10px;
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 70px;
}

.img-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.img-container img {
  width: 90px;
  height: 90px;
}

.more {
  font-size: 14px;
  position: relative;
  margin-left: 207px;
}

.more:hover {
  color: gray;
}

.more img {
  width: 50px;
  margin-left: 7px;
  position: absolute;
  bottom: 5px;
}

.more img:hover {
  opacity: 0.6;
}

.img-container img:nth-of-type(1), .img-container img:nth-of-type(2), .img-container img:nth-of-type(3) {
  margin-bottom: 15px;
}

.plofile-container {
  display: flex;
  margin-top: 40px;
}

.plofile-img img {
  width: 100px;
}

.plofile-comment {
  margin-left: 20px;
}

.plofile-comment p:nth-of-type(1) {
  font-size: 12px;
  margin-bottom: 10px;
}

.plofile-comment p:nth-of-type(2) {
  font-size: 10px;
}

/* contact */

.infomation {
  margin: 10px auto 20px auto;
}

.infomation p {
  font-size: 10px;
  text-align: center;
}

.mail-adress {
  margin: 2em auto;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px #fecb47;
  border-bottom: solid 2px #fecb47;
}

.mail-adress:before, .mail-adress:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #fecb47;
}

.mail-adress:before {
  left: 10px;
}

.mail-adress:after {
  right: 10px;
}

.mail-adress p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
}

.mail-adress p:hover {
  color: gray;
}

/* フッター */

.footer {
  width: 100%;
  height: 30px;
  background-color: #f8ffa2;
  margin-top: 80px;
  padding-top: 10px;
}

.footer p {
  font-size: 10px;
  transform: scale(0.8);
  text-align: center;
}

@media screen and (min-width:600px) {
  
/* 背景 */

.himawari-right img, .himawari-left img {
  width: 225px;
  height: 450px;
}

.himawari-left {
  top: 25%;
}

.himawari-right {
  top: 65%;
}


/* top navigation */

.menu-item a {
  font-size: 20px;
}

.menu-trigger {
  width: 50px;
  height: 44px;
  top: 30px;
  right: 30px;
}

.menu-trigger span {
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}

.logo {
  height: 100px;
  padding-left: 25px;
  font-size: 30px;
}

/* slide show */

.slide {
  height: 500px;
}


/* 各セクションのスタイル */

.artmake-container,.hairmake-container, .about-container, .contact-container {
  width: 500px;
  margin: 40px auto 0 auto;
}

.title p {
  font-size: 28px;
}

.title-border {
  margin-top: 20px;
}

.img-container {
  width: 500px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.img-container img {
  width: 155px;
  height: 155px;
}

.more {
  font-size: 20px;
  margin-left: 450px;
}

.more img {
  width: 50px;
  bottom: 5px;
}

.img-container img:nth-of-type(1), .img-container img:nth-of-type(2), .img-container img:nth-of-type(3) {
  margin-bottom: 15px;
}

.plofile-container {
  margin-top: 50px;
}

.plofile-img img {
  width: 200px;
}

.plofile-comment {
  margin-left: 20px;
  padding-top: 30px;
}

.plofile-comment p:nth-of-type(1) {
  font-size: 24px;
  margin-bottom: 20px;
}

.plofile-comment p:nth-of-type(2) {
  font-size: 16px;
}

/* contact */

.infomation {
  margin: 20px auto 20px auto;
}

.infomation p {
  font-size: 14px;
}

.mail-adress {
  margin: 2em auto;
  padding: 0.5em 1.5em;
}

.mail-adress:before, .mail-adress:after {
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
}

.mail-adress p {
  font-size: 16px;
}

/* フッター */

.footer {
  width: 100%;
  height: 50px;
  margin-top: 80px;
  padding-top: 16px;
}

.footer p {
  font-size: 14px;
}

}

@media screen and (min-width:1025px) {
  
  /* 背景 */

.himawari-right img, .himawari-left img {
  width: 496px;
  height: 1012px;
}

.himawari-left {
  top: 10%;
}

.himawari-right {
  top: 65%;
}


/* top navigation */

.menu-item a {
  font-size: 30px;
}

.logo {
  height: 100px;
  padding-left: 35px;
  padding-top: 20px;
  font-size: 46px;
}

.header {
  margin-bottom: 30px;
}

/* slide show */

.slide {
  height: 700px;
}


/* 各セクションのスタイル */

.up {
  opacity: 0;
  transition: all 1s ease;
}

.up.show {
  opacity: 1;
  transform: none;
}

.op {
  transform: translate(0, 100px);
}

.artmake-container,.hairmake-container, .about-container, .contact-container {
  width: 80%;
  margin: 60px auto 0 auto;
}

.title p {
  font-size: 40px;
}

.title-border {
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 400px;
}

.img-container {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.img-container img {
  width: 350px;
  height: 350px;
}

.more {
  font-size: 35px;
  margin-left: 980px;
}

.more img {
  width: 80px;
  bottom: 7px;
  margin-left: 15px;
}

.img-container img:nth-of-type(1), .img-container img:nth-of-type(2), .img-container img:nth-of-type(3) {
  margin-bottom: 50px;
}

.plofile-container {
  margin-top: 60px;
}

.plofile-img img {
  width: 300px;
}

.plofile-comment {
  margin-left: 30px;
  padding-top: 100px;
}

.plofile-comment p:nth-of-type(1) {
  font-size: 32px;
  margin-bottom: 30px;
}

.plofile-comment p:nth-of-type(2) {
  font-size: 20px;
  line-height: 30px;
}

/* contact */

.infomation {
  margin: 40px auto 50px auto;
}

.infomation p {
  font-size: 20px;
}

.mail-adress {
  margin: 2em auto;
  padding: 0.5em 1.5em;
}

.mail-adress:before, .mail-adress:after {
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
}

.mail-adress p {
  font-size: 32px;
}

/* フッター */

.footer {
  height: 60px;
  margin-top: 100px;
  padding-top: 16px;
}

.footer p {
  font-size: 20px;
}

}